html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font: 11px Lucida Grande,sans-serif;
}

canvas {
  cursor: none;
}

.overlay {
  position: fixed;
  cursor: none;
  user-select: none;
}

.text-overlay {
  background: #1a1a1a;
  color: #eee;
  line-height: 27px;
  padding: 0 5px 0 5px;
}

.border-left-red {
  border-left: 3px solid #e61d5f;
}

.border-left-green {
  border-left: 3px solid #1ed36f;
}

.border-left-blue {
  border-left: 3px solid #2fa1d6;
}

.border-left-purple {
  border-left: 3px solid #806787;
}

.bottom-left {
  bottom: 10px;
  left: 10px;
}

.bottom-right {
  bottom: 10px;
  right: 10px;
}

.minimap {
  width: 100px;
  height: 100px;
}
